body {
	padding-top: 32px;
	display: grid;
}
.header {
	width: 100%;
	position: fixed;
	padding: 8px 0;
	background: #3F3F3F
	color: #FFFFFF;
	top: 0;
}
h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 4em; 	/*( 4 * 16 = 64px )*/
}
h2 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 2.5em; 	/*( 2.5 * 16 = 40px )*/
}
h3 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 1.5em; 	/*( 1.5 * 16 = 24px )*/
}
p {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 1em; 	/*( 1 * 16 = 16px )*/
}
