body {
	margin: 32px;
}
h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 2em;
}
h2 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 1.5em;
}
h3 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 1.17em;
}
h4 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 1em;
}
